<!DOCTYPE html>
<html>
<head>
   <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">
 	<title><%=@title%></title>
  	<%= stylesheet_link_tag    'application', media: 'all'%>
  	<%= javascript_include_tag "application"%>
  	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	  <nav>
	    <div class="navbar navbar-fixed-top navbar-default"><div class="navbar-header"><a href="./#" class="navbar-brand cheat-sheet-brand">Rails Beginner Cheat Sheet</a></div>
	      <ul class="nav navbar-nav">
	        <li><%= link_to console_path do %>Console<%end%></li>
	        <li class="dropdown">
				<%= link_to ruby_path, class:"dropdown-toggle" do %><b class="caret"></b> Ruby<%end%>
	          <ul class="dropdown-menu">
				<li><%= link_to ruby_numbers_path do %>Numbers<%end%></li>
				<li><%= link_to ruby_strings_path do %>Strings<%end%></li>
				<li><%= link_to ruby_arrays_path do %>Arrays<%end%></li>
				<li><%= link_to ruby_hashes_path do %>hashes<%end%></li>
	          </ul>
	        </li>
	        <li class="dropdown">
				<%= link_to rails_path do %><b class="caret"></b> Rails<%end%>
	          <ul class="dropdown-menu">
				  <li><%= link_to rails_rails_app_path do %>Rails App<%end%></li>
				<li><%= link_to rails_rails_commands_path do %>Rails Commands<%end%></li>
				<li><%= link_to rails_embedded_ruby_path do %>ERB: Embedded Ruby<%end%></li>
	          </ul>
	        </li>
			<li><%= link_to editor_path do %>Editor Tips<%end%></li>
			<li><%= link_to quicksearch_path do %>Quick search<%end%></li>
	      </ul>
	      <ul class="nav pull-right navbar-nav">
	      </ul>
	    </div>
	  </nav>
	</div>
	<div id="content-wrapper">
	  <div class="container ">
	    <section id="main-content">
<%= yield %>
</section>
</div>
</div>
	<%= render "layouts/footer"%>
</body>
</html>
